@charset "utf-8";
.opening {min-height:100vh;display:flex;flex-flow:row;flex-wrap:wrap;align-items:center;align-content:center;justify-content:space-between}
.opening .boxTitle {font-family:"Raleway", "맑은 고딕"}
.opening .boxTitle span {display:block;box-sizing:border-box;text-shadow:0 0 15px rgba(255, 255, 255, 1);line-height:1}
.opening .boxTitle .t1 {font-size:50px;font-weight:600;color:#000;}
.opening .boxTitle .t2 {font-size:20px;font-weight:400;padding:0 0 0 7px;margin:10px 0 0;color:#555;}
.opening .boxLink {}
.opening .boxLink nav {}
.opening .boxLink nav ul {display:flex;flex-flow:row;flex-wrap:wrap;}
.opening .boxLink nav ul li {margin:0 20px 0 0;}
.opening .boxLink nav ul li:last-child {margin:0;}