@charset "utf-8";

/* ==============================
* Home
================================= */
#Home {font-family:"Noto Sans KR"}
#Home .dataTit {font-size:1.25em;margin:0 0 20px}
#Home .dataBody {}
#Home .firebaseList {}
#Home .firebaseList li {display:flex;flex-flow:row;flex-wrap:wrap;margin:0 0 10px;border-bottom:1px solid #ddd;}
#Home .firebaseList dl {width:33.3333%;display:flex;flex-flow:row;flex-wrap:wrap;margin:0 0 10px}
#Home .firebaseList dl dt {width:100px;box-sizing:border-box;position:relative;}
#Home .firebaseList dl dt:after {content:":";display:block;position:absolute;line-height:1;right:10px;top:0px}
#Home .firebaseList dl dd {width:calc( 100% - 100px )}