@charset "utf-8";

/* ==============================
* OUTER
================================= */
html {display:block;width:100%;height:100%;background:#eee}
html body {min-height:100vh}

/* ==============================
* DOCUMENT
================================= */
#doc {max-width:1200px;margin:0 auto;min-height:100vh}