@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css?family=Raleway%3A400%2C300%2C500%2C600%2C700&ver=5.1.16'); */

/* ==============================
* OUTER
================================= */
html {display:block;width:100%;height:100%;background:#eee}
html body {min-height:100vh}

/* ==============================
* DOCUMENT
================================= */
.doc {max-width:1200px;margin:0 auto;min-height:100vh}